<div th:fragment="footer">
	
<!-- Footer -->	
<footer class="footer text-center">
<div class="technologies bg-white">
  <img src="https://i.postimg.cc/QdWwd0YR/java.jpg" width="76" height="19" class="img-fluid" alt="Responsive image">
  <img src="https://i.postimg.cc/K8yw4nXj/spring.png" width="76" height="19" class="img-fluid" alt="Responsive image">
  <img src="https://i.postimg.cc/jSmWzdXD/postgresql.png" width="76" height="19" class="img-fluid" alt="Responsive image">
  <img src="https://i.postimg.cc/CLfdwVYY/thymeleaf.png" width="76" height="19" class="img-fluid" alt="Responsive image">
  <img src="https://i.postimg.cc/jScDF4tJ/bootstrap.png" width="76" height="19" class="img-fluid" alt="Responsive image">
  <img src="https://i.postimg.cc/HswGHSJj/javascript.jpg" width="76" height="19" class="img-fluid" alt="Responsive image">
</div>	
<div class="p-3">
&copy; 2021 <a href="mailto:kozdranski@protonmail.com"><i class="far fa-envelope ml-5"></i></a> pch777
</div>	
</footer>
<!-- Footer -->
	
</div>


