<div th:fragment="modal-open">
	
<!-- Open Modal -->	
<div class="modal fade" id="openModal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-dialog-centered" role="document">
   	<div class="modal-content">
      <div class="modal-header justify-content-center bg-light text-primary">
       	<strong>Open</strong>
      </div>
	  <div class="modal-body text-center">
		Are you sure, you want to open this Bargain?
	  </div>
	  <div class="modal-footer">
	   	<button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Cancel</button>
	    <a href="" class="btn btn-danger btn-sm" id="openRef">Open</a>
	  </div>
	</div>
  </div>
</div>
<!-- Open Modal -->
	
</div>


