<div th:fragment="navigation-pills(bestClass, newClass, commentedClass, bestHref, newHref, commentedHref, hideHref)">
	
<!-- Navigation-pills -->	
<div th:if="${totalBargains > 0}" class="container rounded bg-white mt-3">  
  <div class="row justify-content-between">
	<div>
 	  <ul id="myTab" class="nav nav-pills py-1 pl-1">
	  	<li class="nav-item">
	      <a th:class="${bestClass}" aria-current="page" th:href="@{${bestHref}}">Best</a>
		</li>
		<li class="nav-item">
		  <a th:class="${newClass}" th:href="@{${newHref}}">Newest</a>
		</li>
		<li class="nav-item">
		  <a th:class="${commentedClass}" th:href="@{${commentedHref}}">Commented</a>
		</li>
		<li class="nav-item">
		  <a class="nav-link" title="Total bargains"><span class="text-primary">[[${totalDisplayBargains}]]</span></a>
		</li>
	  </ul>
 	</div>
 		
 	<div class="form-check  pr-4">
 	  <form th:action="@{${hideHref}}" method="get">
    	<input title="Hide completed" type="checkbox" class="form-check-input checkbox-closed mr-2" name="ended" onchange='this.form.submit()'
           th:checked="${closed} ? 'checked'"/>                
	    <noscript> 
		  <button type="submit">Submit</button>
		</noscript>
	  </form>
	</div>
  </div> 
</div>
<!-- Navigation-pills -->	
</div>


