<div th:fragment="pagination-comment(href)">
	
<!-- Pagination comment--> 									
<nav th:if="${pageComments.totalPages > 1}" aria-label="Page navigation">
	<ul class="pagination pagination-sm ">
 		<li class="page-item" th:classappend="${pageComments.number == 0} ? 'disabled'">
   			<a class="page-link" 
	    	   th:href="@{${href} (page=${1}, pageSize=${pageComments.size})}">
	    	   &laquo;
	    	</a>
   		</li>	  
	    <li class="page-item" th:classappend="${pageComments.number == 0} ? 'disabled'">
	    	<a class="page-link" 
	    	   th:href="@{${href} (page=${pageComments.number}, pageSize=${pageComments.size})}">
	    	   &lsaquo;
	    	</a>
	    </li>	
		    
	    <th:block th:if="${totalPages <= 10}">       
	    <li class="page-item" th:classappend="${i == pageComments.number+1} ? 'active'" th:each="i: ${#numbers.sequence(1, pageComments.totalPages)}">
		   	<a class="page-link" 
		   	   th:href="@{${href} (page=${i}, pageSize=${currentSize})}" th:text="${i}">
			</a>
	    </li>	
	    </th:block>
				    
	    <th:block th:if="${totalPages > 10}">
    	<th:block th:if="${currentPage <= 5 or currentPage >= totalPages - 4}">
   		<li class="page-item" th:classappend="${i == pageComments.number+1} ? 'active'" th:each="i: ${#numbers.sequence(1, 5)}">
	    	<a class="page-link" th:href="@{${href} (page=${i}, pageSize=${currentSize})}" 
	    	   th:text="${i}">
	    	</a>
   		</li>	
    		<a th:if="${currentPage<=5}" class="page-link" 
	    	   th:href="@{${href} (page=${6}, pageSize=${currentSize})}" 
	    	   th:text="...">
	    	</a>
	    	<a th:if="${currentPage>=9}" class="page-link" 
	    	   th:href="@{${href} (page=${8}, pageSize=${currentSize})}" 
	    	   th:text="...">
	    	</a>
    	<li class="page-item" th:classappend="${i == pageComments.number+1} ? 'active'" th:each="i: ${#numbers.sequence(totalPages - 4, totalPages)}">
	    	<a class="page-link" 
	    	   th:href="@{${href} (page=${i}, pageSize=${currentSize})}" 
	    	   th:text="${i}">
	    	</a>
   		</li>	
    	</th:block>	
    	<th:block th:if="${currentPage > 5 and currentPage < totalPages - 4}">
    		<a class="page-link" 
	    	   th:href="@{${href} (page=${currentPage-5}, pageSize=${currentSize})}" 
	    	   th:text="...">
	    	</a>				    	
    	<li class="page-item" th:classappend="${i == pageComments.number+1} ? 'active'" th:each="i: ${#numbers.sequence(currentPage - 4, currentPage + 4)}">
	    	<a class="page-link" 
	    	   th:href="@{${href} (page=${i}, pageSize=${currentSize})}" 
	    	   th:text="${i}">
	    	</a>
   		</li>	
	    	<a class="page-link" 
	    	   th:href="@{${href} (page=${currentPage+5}, pageSize=${currentSize})}" 
	    	   th:text="...">
    	</a>
    	</th:block>
		</th:block>

	    <li class="page-item" th:classappend="${pageComments.number + 1 == pageComments.totalPages} ? 'disabled'">		    
	   		<a class="page-link" 
	   		   th:href="@{${href} (page=${pageComments.number+2}, pageSize=${pageComments.size})}">
	   		   &rsaquo;
	   		</a>
	    </li>
	    <li class="page-item" th:classappend="${pageComments.number + 1 == pageComments.totalPages} ? 'disabled'">
	    	<a class="page-link" 
	    	   th:href="@{${href} (page=${pageComments.totalPages}, pageSize=${pageComments.size})}">
	    	   &raquo;
	    	</a>
	    </li>
	</ul>
</nav>
<!-- Pagination comment-->
	
</div>

