<div th:fragment="vote-part">
	
<input type="hidden" name="bargainId" th:value="${bargain.id}"/>
  
  <th:block th:each="vote : ${T(com.pch777.bargains.model.VoteType).values()}">
	<th:block th:if="${ vote.equals(T(com.pch777.bargains.model.VoteType).DOWNVOTE) }">
	  <input onclick="javascript: submit()" type="radio" th:field="*{voteType}" th:value="${vote}" class="custom-control-input" >
       	<!-- The user is an anonymous -->
       	<th:block th:if="${loggedUser.equals('anonymousUser')}" >	             	
	      <label class="btn btn-sm btn-primary py-0 px-1 cursor-pointer" th:for="${#ids.prev('voteType')}" title="vote down">
			<i class="fas fa-minus"></i>
		  </label>	             
	    </th:block> 
	    <!-- The user is a logged and creator of the bargain -->
	    <th:block th:if="${!loggedUser.equals('anonymousUser') && bargain.user.email.equals(loggedUser)}">	             	
	      <label class="invisible btn btn-sm btn-primary py-0 px-1">
			<i class="fas fa-minus"></i>
		  </label>	             
	    </th:block>
		<!-- The user is a logged and not creator of the bargain -->
	    <th:block th:if="${!loggedUser.equals('anonymousUser') && !bargain.user.email.equals(loggedUser) }">
		  <!-- The list of votes is empty -->
	      <th:block th:if="${#lists.isEmpty(bargain.votes)}">
	        <label class="btn btn-sm btn-primary py-0 px-1 cursor-pointer" th:for="${#ids.prev('voteType')}" title="vote down">
			  <i class="fas fa-minus"></i>
		    </label>	
	      </th:block>
	      
	      <th:block th:if="${(!#lists.isEmpty(bargain.votes)) && !(T(com.pch777.bargains.service.VoteService).userVoted(bargain.votes, currentUser))}">
	        <label class="btn btn-sm btn-primary py-0 px-1 cursor-pointer" th:for="${#ids.prev('voteType')}" title="vote down">
			  <i class="fas fa-minus"></i>
		    </label>	
	      </th:block>
	      
	      <th:block th:if="${(!#lists.isEmpty(bargain.votes)) && T(com.pch777.bargains.service.VoteService).userVoted(bargain.votes, currentUser)}">
	        <th:block th:each="v: ${bargain.votes}">
			  <button th:if="${(v.voteType).equals(T(com.pch777.bargains.model.VoteType).DOWNVOTE) && (v.user.email).equals(loggedUser)}" 
			  		  title="You have already voted down" class="btn btn-sm btn-primary py-0 px-1 mb-2" disabled><i class="fas fa-minus"></i>
			  </button> 
 	          <button th:if="${(v.voteType).equals(T(com.pch777.bargains.model.VoteType).UPVOTE) && (v.user.email).equals(loggedUser)}" 
 	          		  class="invisible btn btn-sm btn-primary py-0 px-1 mb-2"><i class="fas fa-minus"></i>
 	          </button> 
            </th:block>	
	      </th:block>     
        </th:block> 
        <span class="ml-2 h4" th:text="${bargain.voteCount}"></span> <span class="h4 mr-2">&#176;</span>       
	</th:block>	                

	<th:block th:if="${vote.equals(T(com.pch777.bargains.model.VoteType).UPVOTE)}">
	  <input onclick="javascript: submit()" type="radio" th:field="*{voteType}" th:value="${vote}" class="custom-control-input" >
       	<!-- The user is an anonymous -->
       	<th:block th:if="${loggedUser.equals('anonymousUser')}" >	             	
	      <label class="btn btn-sm btn-danger py-0 px-1 cursor-pointer" th:for="${#ids.prev('voteType')}" title="vote up">
			<i class="fas fa-plus"></i>
		  </label>	             
	    </th:block> 
	    
	    <!-- The user is a logged and creator of the bargain -->
	    <th:block th:if="${!loggedUser.equals('anonymousUser') && bargain.user.email.equals(loggedUser)}">	             	
	      <label class="invisible btn btn-sm btn-danger py-0 px-1">
			<i class="fas fa-plus"></i>
		  </label>	             
	    </th:block>
		<!-- The user is a logged and not creator of the bargain -->
	    <th:block th:if="${!loggedUser.equals('anonymousUser') && !bargain.user.email.equals(loggedUser) }">
		  <!-- The list of votes is empty -->
	      <th:block th:if="${#lists.isEmpty(bargain.votes)}">
	        <label class="btn btn-sm btn-danger py-0 px-1 cursor-pointer" th:for="${#ids.prev('voteType')}" title="vote up">
			  <i class="fas fa-plus"></i>
		    </label>	
	      </th:block>
	      
	      <th:block th:if="${(!#lists.isEmpty(bargain.votes)) && !(T(com.pch777.bargains.service.VoteService).userVoted(bargain.votes, currentUser))}">
	        <label class="btn btn-sm btn-danger py-0 px-1 cursor-pointer" th:for="${#ids.prev('voteType')}" title="vote up">
			  <i class="fas fa-plus"></i>
		    </label>	
	      </th:block>
	      
	      <th:block th:if="${(!#lists.isEmpty(bargain.votes)) && T(com.pch777.bargains.service.VoteService).userVoted(bargain.votes, currentUser)}">
	        <th:block th:each="v: ${bargain.votes}">
			  <button th:if="${(v.voteType).equals(T(com.pch777.bargains.model.VoteType).UPVOTE) && (v.user.email).equals(loggedUser)}" 
			  		  title="You have already voted up" class="btn btn-sm btn-danger py-0 px-1 mb-2" disabled><i class="fas fa-plus"></i>
			  </button> 
 	          <button th:if="${(v.voteType).equals(T(com.pch777.bargains.model.VoteType).DOWNVOTE) && (v.user.email).equals(loggedUser)}" 
 	          		  class="invisible btn btn-sm btn-danger py-0 px-1 mb-2"><i class="fas fa-plus"></i>
 	          </button> 
            </th:block>	
	      </th:block>     
        </th:block>     
      </th:block>

	</th:block>	
	
</div>

